<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./styling/style.css" >
        <body>
            <div class="main">
                {{>header}}
                <img class="portrait" src="./img/image.png">
            </div>
           {{>footer}}
        </body>
    </head>
</html>