<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./styling/style.css" >
        <body>
            <div class="main">
                {{>error}}
            </div>
            {{>footer}}
        </body>
    </head>
</html>